<script type="text/javascript">
$(document).ready(function() {
	function nextNonEmptyNode(node) {
		var nextNode = node.nextSibling;
		if(!nextNode || nextNode.nodeType != Node.TEXT_NODE || nextNode.textContent.trim())
			return nextNode;
		else
			return nextNode.nextSibling;
	}

	function previousNonEmptyNode(node) {
		var prevNode = node.previousSibling;
		if(!prevNode || prevNode.nodeType != Node.TEXT_NODE || prevNode.textContent.trim())
			return prevNode;
		else
			return prevNode.previousSibling;
	}

	$('div.inline-attachment').each(function() {
		var prevNode = previousNonEmptyNode(this);
		if(prevNode && !$(prevNode).is('div.inline-attachment') && !$(prevNode).is('br'))
			$(this).before('<br>');

		var nextNode = nextNonEmptyNode(this);
		if(nextNode && !$(nextNode).is('div.inline-attachment') && !$(nextNode).is('br'))
			$(this).after('<br>');
	});

	$('.attachbox dd:has(dl.file)').css('display', 'block');
});
</script>
