/* Moded by attach inline img bb3.mobi*/
.attachbox dd {
	margin-top: 4px;
	padding-top: 4px;
	clear: left;
	display: inline;
	border: 0!important;
}

.attachbox dd dl {
	display: inline-block;
	max-width: 100%;
	margin: 2px;
}

.attachbox dd dl.file {
	margin-left: 8px;
}

div.inline-attachment {
	display: inline-block;
}

dl.thumbnail, dl.file {
	display: inline-block!important;
	vertical-align: middle;
}